aws_region         = "ap-southeast-1"
project_name       = "klinikpemweb"

# CIDR Blocks
vpc_frontend_cidr     = "10.0.0.0/16"
subnet_frontend_cidr  = "10.0.1.0/24"

vpc_backend_cidr      = "10.1.0.0/16"
subnet_backend_cidr   = "10.1.1.0/24"

vpc_database_cidr     = "10.2.0.0/16"
subnet_db_priv_1_cidr = "10.2.1.0/24"
subnet_db_priv_2_cidr = "10.2.2.0/24"

# Compute & Key Pair
instance_type      = "t2.micro"
key_name           = "klinik-keypair"

# Database RDS
db_instance_class  = "db.t3.micro"
db_name            = "klinik"
db_username        = "admin"
db_password        = "KlinikSecurePassword123!"

# Docker & Secrets
dockerhub_username = "ariilalhafizh"
gemini_api_key     = "YOUR_GEMINI_API_KEY"

# GCP Cloud Storage
gcp_project_id     = "klinik-cloud-storage"
gcp_bucket_name    = "klinik-storage-bucket-app"
